@font-face
	font-family CormorantUpright
	font-display swap
	src url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff")
	font-weight 700 
	font-style normal 