extends layout/main

block head
  - var title = "My project"

block styles
  link(rel="stylesheet" href="css/index.css")

block scripts
  script(src="scripts/main.js")

block main
  section.intro
    h1 Hello World!