.button
  display inline-block
  font-family $fontBold
  font-size 1.5rem
  line-height 1.9rem
  padding 1rem 1.7rem 1rem 1.8rem
  background-color transparent
  border 2px solid $green
  border-radius 5px
  transition all .1s
  color $white
  min-width 17rem
  text-align center

  &:hover,
  &:focus-visible
    background-color $greenHover
    border 2px solid transparent

  &:active
    transform scale(.97)
    background-color $greenHover

  &-filled
    border-color transparent
    background-color $green
    color $white

  &--red
    border-color $red

    &:hover,
    &:focus-visible
      background-color $redHover

    &:active
      background-color $redHover
    
    &-filled
      border-color transparent
      background-color $red
      color $white

      &:hover,
      &:focus-visible
        background-color $redHover

      &:active
        background-color $redHover

  &--blue
    border-color $blue

    &:hover,
    &:focus-visible
      background-color $blueHover

    &:active
      background-color $blueHover

    &-filled
      border-color transparent
      background-color $blue
      color $white

      &:hover,
      &:focus-visible
        background-color $blueHover

      &:active
        background-color $blueHover